In [1]:
import pynytimes
import pandas as pd
from pynytimes import NYTAPI
from my_api_info import get_nytimes_key
from datetime import datetime

Only if we want to dl NY data from its api

In [46]:
nytapi = NYTAPI(get_nytimes_key(), parse_dates=True)
results = nytapi.article_search(query="S&P 500",
                                results=365,
                                dates={'begin':datetime(2023,1,1),
                                       'end':datetime(2023,12,30)})

In [48]:
len(results)

296

In [49]:
NYdata = pd.DataFrame(results)
NYdata['pub_date'] = pd.to_datetime(NYdata['pub_date'])
NYdata['Date']=NYdata['pub_date'].dt.date
NYdata.set_index('Date', inplace=True)
NYdata = NYdata[~NYdata.index.duplicated(keep='first')]
NYdata=NYdata.sort_index()
NYdata.to_csv('NYdatasp.csv', index=True)

In [50]:
NYdata.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
Date,,,,,,,,,,,,,,,,,,,,
2023-01-01,The cost cutting continues at Twitter. The S&P...,https://www.nytimes.com/2023/01/01/business/th...,The cost cutting continues at Twitter. The S&P...,Thousands of travelers were stranded in airpor...,BU,2,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'The Week in Business: Southwest’s Ho...,"[{'name': 'subject', 'value': 'Airlines and Ai...",2023-01-01 12:00:07+00:00,article,SundayBusiness,Business Day,"{'original': 'By Marie Solis', 'person': [{'fi...",News,nyt://article/059566c2-7e90-554c-9b37-8eb1f0f1...,922,nyt://article/059566c2-7e90-554c-9b37-8eb1f0f1...,NaN
2023-01-03,Analysts are more cautious about 2023 after th...,https://www.nytimes.com/2023/01/03/business/st...,Analysts are more cautious about 2023 after th...,"Stocks wavered on Tuesday, the first trading d...",NaN,NaN,The New York Times,[],{'main': 'Markets Slip in First Session of the...,"[{'name': 'subject', 'value': 'Standard & Poor...",2023-01-03 14:36:47+00:00,article,Business,Business Day,"{'original': 'By Isabella Simonetti', 'person'...",News,nyt://article/2bcce754-747e-5f68-9800-80b46182...,425,nyt://article/2bcce754-747e-5f68-9800-80b46182...,NaN
2023-01-04,A huge sell-off wiped billions of dollars from...,https://www.nytimes.com/2023/01/04/business/de...,A huge sell-off wiped billions of dollars from...,With its stock in free fall and competition mo...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Tesla Bulls Brace for a Rough Year A...,"[{'name': 'subject', 'value': 'Electric and Hy...",2023-01-04 12:55:56+00:00,article,Business,Business Day,"{'original': 'By Andrew Ross Sorkin, Ravi Matt...",News,nyt://article/30b85075-cef3-5381-8e5e-6818fee6...,1829,nyt://article/30b85075-cef3-5381-8e5e-6818fee6...,DealBook
2023-01-05,"To land the House speaker position, the Califo...",https://www.nytimes.com/2023/01/05/business/de...,"To land the House speaker position, the Califo...","Representative Kevin McCarthy, Republican of C...",NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Kevin McCarthy’s Business Ties Compl...,"[{'name': 'subject', 'value': 'United States P...",2023-01-05 12:45:16+00:00,article,Business,Business Day,"{'original': 'By Andrew Ross Sorkin, Ravi Matt...",News,nyt://article/59e22a52-b291-55ea-af43-db36297d...,1791,nyt://article/59e22a52-b291-55ea-af43-db36297d...,DealBook
2023-01-06,Traders are betting that a slowdown in job gro...,https://www.nytimes.com/2023/01/06/business/ma...,Traders are betting that a slowdown in job gro...,"For investors and policymakers alike, bad news...",B,2,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Markets Rise as Investors Like the L...,"[{'name': 'subject', 'value': 'Labor and Jobs'...",2023-01-06 10:00:43+00:00,article,Business,Business Day,"{'original': 'By Joe Rennison', 'person': [{'f...",News,nyt://article/cda741d8-44bf-5748-a2e8-00b0c8d6...,637,nyt://article/cda741d8-44bf-5748-a2e8-00b0c8d6...,NaN

In [2]:
sp_price=pd.read_csv("../data/Download Data - INDEX_US_S&P US_SPX.csv", parse_dates=['Date'])
sp_price.set_index('Date', inplace=True)
sp_price.sort_index()

                Open      High       Low     Close
Date
2023-01-03  3,853.29  3,878.46  3,794.33  3,824.14
2023-01-04  3,840.36  3,873.16  3,815.77  3,852.97
2023-01-05  3,839.74  3,839.74  3,802.42  3,808.10
2023-01-06  3,823.37  3,906.19  3,809.56  3,895.08
2023-01-09  3,910.82  3,950.57  3,890.42  3,892.09
...              ...       ...       ...       ...
2023-12-22  4,753.92  4,772.94  4,736.77  4,754.63
2023-12-26  4,758.86  4,784.72  4,758.45  4,774.75
2023-12-27  4,773.45  4,785.39  4,768.90  4,781.58
2023-12-28  4,786.44  4,793.30  4,780.98  4,783.35
2023-12-29  4,782.88  4,788.43  4,751.99  4,769.83

[250 rows x 4 columns]

If we want to load Ny data and not dl it form NY api

In [26]:
# NYdata=pd.read_csv('NYdata.csv', index_col='Date', parse_dates=True)
# NYdata[~NYdata.index.duplicated(keep='first')]
# NYdata=NYdata.sort_index()
# NYdata.to_csv('NYdata.csv', index=True)

In [27]:
NYdata.head()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,pub_date,document_type,news_desk,section_name,byline,type_of_material,_id,word_count,uri,subsection_name
Date,,,,,,,,,,,,,,,,,,,,
2023-01-02,"Today, you will identify the areas of your lif...",https://www.nytimes.com/2023/01/01/well/happin...,"Today, you will identify the areas of your lif...","In 1938, researchers at Harvard set out to lea...",D,6.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Day 1: Take Stock of Your Relationsh...,"[{'name': 'subject', 'value': 'Content Type: S...",2023-01-02 04:00:06+00:00,article,Well,Well,"{'original': 'By Jancee Dunn', 'person': [{'fi...",News,nyt://article/3dfb3527-68cd-5db7-9504-7afc5389...,1172,nyt://article/3dfb3527-68cd-5db7-9504-7afc5389...,NaN
2023-01-04,NaN,https://cooking.nytimes.com/recipes/1023769-gr...,NaN,"Chile sauces at <a href=""https://www.elcholo.c...",NaN,NaN,NaN,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Green Enchilada Sauce', 'kicker': No...",[],2023-01-04 00:00:00+00:00,recipe,NaN,NaN,"{'original': 'Kevin McKenna, Alexa Weibel', 'p...",Recipe,nyt://recipe/162d357c-e7cc-5f6d-a3eb-1f46ca317fda,0,nyt://recipe/162d357c-e7cc-5f6d-a3eb-1f46ca317fda,NaN
2023-01-05,The home goods retailer said weak sales and sl...,https://www.nytimes.com/2023/01/05/business/be...,The home goods retailer said weak sales and sl...,"Bed Bath & Beyond, the beleaguered home goods ...",B,1.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'Bed Bath & Beyond Warns of Potential...,"[{'name': 'organizations', 'value': 'Bed Bath ...",2023-01-05 14:12:37+00:00,article,Business,Business Day,{'original': 'By Lauren Hirsch and Jordyn Holm...,News,nyt://article/86579820-0588-51bc-8125-d4002942...,1226,nyt://article/86579820-0588-51bc-8125-d4002942...,NaN
2023-01-06,"David Tanis offers a carrot-leek soup, baked f...",https://www.nytimes.com/2023/01/06/dining/thre...,"David Tanis offers a carrot-leek soup, baked f...","It’s trite, but it’s true: After the excesses ...",D,2.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'This 3-Course Meal Can’t Get Much Ea...,"[{'name': 'subject', 'value': 'Cooking and Coo...",2023-01-06 17:50:14+00:00,article,Dining,Food,"{'original': 'By David Tanis', 'person': [{'fi...",News,nyt://article/06c8a0ec-7bd7-52fe-bb73-3d4532bb...,429,nyt://article/06c8a0ec-7bd7-52fe-bb73-3d4532bb...,NaN
2023-01-06,The Securities and Exchange Commission ended i...,https://www.nytimes.com/2023/01/06/us/politics...,The Securities and Exchange Commission ended i...,The Securities and Exchange Commission has clo...,A,15.0,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'S.E.C. Inquiry Into Former Senator’s...,"[{'name': 'subject', 'value': 'Insider Trading...",2023-01-06 20:25:30+00:00,article,Washington,U.S.,"{'original': 'By Kate Kelly', 'person': [{'fir...",News,nyt://article/482c9261-2dea-5f7b-914f-39bc2ebf...,684,nyt://article/482c9261-2dea-5f7b-914f-39bc2ebf...,Politics

In [51]:
Data_combined = pd.merge(NYdata, sp_price, left_index=True, right_index=True, how='outer')

In [52]:
Data_combined.tail()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,...,byline,type_of_material,_id,word_count,uri,subsection_name,Open,High,Low,Close
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-26,Analysts bullish on 2023 were largely right an...,https://www.nytimes.com/2023/12/26/business/st...,Analysts bullish on 2023 were largely right an...,"Twelve months ago, Tom Lee bet that 2023 was g...",B,1,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Downturn or Not? At Year’s End, Wall...","[{'name': 'subject', 'value': 'Stocks and Bond...",...,"{'original': 'By Joe Rennison', 'person': [{'f...",News,nyt://article/70d5bf00-69a4-5f68-a5e6-7db124cc...,1100.0,nyt://article/70d5bf00-69a4-5f68-a5e6-7db124cc...,NaN,"4,758.86","4,784.72","4,758.45","4,774.75"
2023-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"4,773.45","4,785.39","4,768.90","4,781.58"
2023-12-28,Ten charts to recap the trends and main events...,https://www.nytimes.com/interactive/2023/12/28...,Ten charts to recap the trends and main events...,Ten charts to recap the trends and main events...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'More Than Words: 10 Charts That Defi...,"[{'name': 'subject', 'value': 'United States E...",...,{'original': 'By Steven Rattner and Taylor Mag...,Interactive Feature,nyt://interactive/d890331b-732a-55c7-8a2f-2b54...,0.0,nyt://interactive/d890331b-732a-55c7-8a2f-2b54...,NaN,"4,786.44","4,793.30","4,780.98","4,783.35"
2023-12-29,Wall Street’s forecasts mostly missed this yea...,https://www.nytimes.com/2023/12/29/business/de...,Wall Street’s forecasts mostly missed this yea...,,B,4,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'What Could Go Right (and Wrong) in t...,"[{'name': 'subject', 'value': 'internal-storyl...",...,"{'original': 'By Bernhard Warner', 'person': [...",News,nyt://article/3f960626-f801-5488-a261-24d5863f...,953.0,nyt://article/3f960626-f801-5488-a261-24d5863f...,DealBook,"4,782.88","4,788.43","4,751.99","4,769.83"
2023-12-30,"Inflation, bank failures, strikes, and artific...",https://www.nytimes.com/2023/12/30/business/de...,"Inflation, bank failures, strikes, and artific...",It has been a confusing year for the economy a...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': '11 Charts That Explain the Year in B...,"[{'name': 'subject', 'value': 'internal-storyl...",...,"{'original': 'By Christine Zhang', 'person': [...",News,nyt://article/2e18c2dc-f929-554d-bbbc-fbce89e5...,1055.0,nyt://article/2e18c2dc-f929-554d-bbbc-fbce89e5...,DealBook,NaN,NaN,NaN,NaN

In [53]:
for i in range(len(Data_combined)):
    if not isinstance(Data_combined['abstract'][i], str):
        Data_combined['abstract'][i]=''

/var/folders/g7/0r52jtgn0lx64hw0zmgwgr2h0000gn/T/ipykernel_17892/1913076642.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if not isinstance(Data_combined['abstract'][i], str):
/var/folders/g7/0r52jtgn0lx64hw0zmgwgr2h0000gn/T/ipykernel_17892/1913076642.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Data_combined['abstract'][i]=''
/var/folders/g7/0r52jtgn0lx64hw0zmgwgr2h0000gn/T/ipykernel_17892/1913076642.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Data_combined['abstract'][i]=''
/var/folders/g7/0r52jtgn0lx64hw0zmgwgr2h0000gn/T/ipykernel_17892/1913076642.py:3: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  Data_combined['abstract'][i]=''

In [55]:
Data_combined.tail()

,abstract,web_url,snippet,lead_paragraph,print_section,print_page,source,multimedia,headline,keywords,...,byline,type_of_material,_id,word_count,uri,subsection_name,Open,High,Low,Close
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-26,Analysts bullish on 2023 were largely right an...,https://www.nytimes.com/2023/12/26/business/st...,Analysts bullish on 2023 were largely right an...,"Twelve months ago, Tom Lee bet that 2023 was g...",B,1,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...","{'main': 'Downturn or Not? At Year’s End, Wall...","[{'name': 'subject', 'value': 'Stocks and Bond...",...,"{'original': 'By Joe Rennison', 'person': [{'f...",News,nyt://article/70d5bf00-69a4-5f68-a5e6-7db124cc...,1100.0,nyt://article/70d5bf00-69a4-5f68-a5e6-7db124cc...,NaN,"4,758.86","4,784.72","4,758.45","4,774.75"
2023-12-27,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"4,773.45","4,785.39","4,768.90","4,781.58"
2023-12-28,Ten charts to recap the trends and main events...,https://www.nytimes.com/interactive/2023/12/28...,Ten charts to recap the trends and main events...,Ten charts to recap the trends and main events...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'More Than Words: 10 Charts That Defi...,"[{'name': 'subject', 'value': 'United States E...",...,{'original': 'By Steven Rattner and Taylor Mag...,Interactive Feature,nyt://interactive/d890331b-732a-55c7-8a2f-2b54...,0.0,nyt://interactive/d890331b-732a-55c7-8a2f-2b54...,NaN,"4,786.44","4,793.30","4,780.98","4,783.35"
2023-12-29,Wall Street’s forecasts mostly missed this yea...,https://www.nytimes.com/2023/12/29/business/de...,Wall Street’s forecasts mostly missed this yea...,,B,4,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': 'What Could Go Right (and Wrong) in t...,"[{'name': 'subject', 'value': 'internal-storyl...",...,"{'original': 'By Bernhard Warner', 'person': [...",News,nyt://article/3f960626-f801-5488-a261-24d5863f...,953.0,nyt://article/3f960626-f801-5488-a261-24d5863f...,DealBook,"4,782.88","4,788.43","4,751.99","4,769.83"
2023-12-30,"Inflation, bank failures, strikes, and artific...",https://www.nytimes.com/2023/12/30/business/de...,"Inflation, bank failures, strikes, and artific...",It has been a confusing year for the economy a...,NaN,NaN,The New York Times,"[{'rank': 0, 'subtype': 'xlarge', 'caption': N...",{'main': '11 Charts That Explain the Year in B...,"[{'name': 'subject', 'value': 'internal-storyl...",...,"{'original': 'By Christine Zhang', 'person': [...",News,nyt://article/2e18c2dc-f929-554d-bbbc-fbce89e5...,1055.0,nyt://article/2e18c2dc-f929-554d-bbbc-fbce89e5...,DealBook,NaN,NaN,NaN,NaN

In [56]:
Data_combined.to_csv('NYdatasp_SP.csv', index=True)

In [57]:
Data_combined_dict={}
Data_combined_dict['train']=Data_combined.loc[Data_combined.index.month<11]
Data_combined_dict['validation']=Data_combined.loc[Data_combined.index.month==11]
Data_combined_dict['test']=Data_combined.loc[Data_combined.index.month>11]

In [60]:
len(Data_combined_dict['train'])

222

In [61]:
from datasets import Dataset, DatasetDict

In [62]:
datasets_dict = {key: Dataset.from_pandas(df) for key, df in Data_combined_dict.items()}

# Create a DatasetDict object
dataset_dict = DatasetDict(datasets_dict)

In [63]:
dataset_dict

DatasetDict({
    train: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 222
    })
    validation: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 22
    })
    test: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 24
    })
})

In [64]:
dataset_dict.save_to_disk('NYdatasp_SP_datset')

Saving the dataset (0/1 shards):   0%|          | 0/222 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/22 [00:00<?, ? examples/s]

Saving the dataset (0/1 shards):   0%|          | 0/24 [00:00<?, ? examples/s]

In [65]:
dataset_dict['train']['Date']

[Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-01-03 00:00:00'),
 Timestamp('2023-01-04 00:00:00'),
 Timestamp('2023-01-05 00:00:00'),
 Timestamp('2023-01-06 00:00:00'),
 Timestamp('2023-01-09 00:00:00'),
 Timestamp('2023-01-10 00:00:00'),
 Timestamp('2023-01-11 00:00:00'),
 Timestamp('2023-01-12 00:00:00'),
 Timestamp('2023-01-13 00:00:00'),
 Timestamp('2023-01-15 00:00:00'),
 Timestamp('2023-01-17 00:00:00'),
 Timestamp('2023-01-18 00:00:00'),
 Timestamp('2023-01-19 00:00:00'),
 Timestamp('2023-01-20 00:00:00'),
 Timestamp('2023-01-22 00:00:00'),
 Timestamp('2023-01-23 00:00:00'),
 Timestamp('2023-01-24 00:00:00'),
 Timestamp('2023-01-25 00:00:00'),
 Timestamp('2023-01-26 00:00:00'),
 Timestamp('2023-01-27 00:00:00'),
 Timestamp('2023-01-30 00:00:00'),
 Timestamp('2023-01-31 00:00:00'),
 Timestamp('2023-02-01 00:00:00'),
 Timestamp('2023-02-02 00:00:00'),
 Timestamp('2023-02-03 00:00:00'),
 Timestamp('2023-02-06 00:00:00'),
 Timestamp('2023-02-07 00:00:00'),
 Timestamp('2023-02-08 00:00:00'),
 Timestamp('2023-02-09 00:00:00'),
 Timestamp('2023-02-10 00:00:00'),
 Timestamp('2023-02-13 00:00:00'),
 Timestamp('2023-02-14 00:00:00'),
 Timestamp('2023-02-15 00:00:00'),
 Timestamp('2023-02-16 00:00:00'),
 Timestamp('2023-02-17 00:00:00'),
 Timestamp('2023-02-21 00:00:00'),
 Timestamp('2023-02-22 00:00:00'),
 Timestamp('2023-02-23 00:00:00'),
 Timestamp('2023-02-24 00:00:00'),
 Timestamp('2023-02-25 00:00:00'),
 Timestamp('2023-02-27 00:00:00'),
 Timestamp('2023-02-28 00:00:00'),
 Timestamp('2023-03-01 00:00:00'),
 Timestamp('2023-03-02 00:00:00'),
 Timestamp('2023-03-03 00:00:00'),
 Timestamp('2023-03-04 00:00:00'),
 Timestamp('2023-03-06 00:00:00'),
 Timestamp('2023-03-07 00:00:00'),
 Timestamp('2023-03-08 00:00:00'),
 Timestamp('2023-03-09 00:00:00'),
 Timestamp('2023-03-10 00:00:00'),
 Timestamp('2023-03-13 00:00:00'),
 Timestamp('2023-03-14 00:00:00'),
 Timestamp('2023-03-15 00:00:00'),
 Timestamp('2023-03-16 00:00:00'),
 Timestamp('2023-03-17 00:00:00'),
 Timestamp('2023-03-18 00:00:00'),
 Timestamp('2023-03-20 00:00:00'),
 Timestamp('2023-03-21 00:00:00'),
 Timestamp('2023-03-22 00:00:00'),
 Timestamp('2023-03-23 00:00:00'),
 Timestamp('2023-03-24 00:00:00'),
 Timestamp('2023-03-27 00:00:00'),
 Timestamp('2023-03-28 00:00:00'),
 Timestamp('2023-03-29 00:00:00'),
 Timestamp('2023-03-30 00:00:00'),
 Timestamp('2023-03-31 00:00:00'),
 Timestamp('2023-04-03 00:00:00'),
 Timestamp('2023-04-04 00:00:00'),
 Timestamp('2023-04-05 00:00:00'),
 Timestamp('2023-04-06 00:00:00'),
 Timestamp('2023-04-10 00:00:00'),
 Timestamp('2023-04-11 00:00:00'),
 Timestamp('2023-04-12 00:00:00'),
 Timestamp('2023-04-13 00:00:00'),
 Timestamp('2023-04-14 00:00:00'),
 Timestamp('2023-04-17 00:00:00'),
 Timestamp('2023-04-18 00:00:00'),
 Timestamp('2023-04-19 00:00:00'),
 Timestamp('2023-04-20 00:00:00'),
 Timestamp('2023-04-21 00:00:00'),
 Timestamp('2023-04-24 00:00:00'),
 Timestamp('2023-04-25 00:00:00'),
 Timestamp('2023-04-26 00:00:00'),
 Timestamp('2023-04-27 00:00:00'),
 Timestamp('2023-04-28 00:00:00'),
 Timestamp('2023-05-01 00:00:00'),
 Timestamp('2023-05-02 00:00:00'),
 Timestamp('2023-05-03 00:00:00'),
 Timestamp('2023-05-04 00:00:00'),
 Timestamp('2023-05-05 00:00:00'),
 Timestamp('2023-05-06 00:00:00'),
 Timestamp('2023-05-08 00:00:00'),
 Timestamp('2023-05-09 00:00:00'),
 Timestamp('2023-05-10 00:00:00'),
 Timestamp('2023-05-11 00:00:00'),
 Timestamp('2023-05-12 00:00:00'),
 Timestamp('2023-05-14 00:00:00'),
 Timestamp('2023-05-15 00:00:00'),
 Timestamp('2023-05-16 00:00:00'),
 Timestamp('2023-05-17 00:00:00'),
 Timestamp('2023-05-18 00:00:00'),
 Timestamp('2023-05-19 00:00:00'),
 Timestamp('2023-05-22 00:00:00'),
 Timestamp('2023-05-23 00:00:00'),
 Timestamp('2023-05-24 00:00:00'),
 Timestamp('2023-05-25 00:00:00'),
 Timestamp('2023-05-26 00:00:00'),
 Timestamp('2023-05-30 00:00:00'),
 Timestamp('2023-05-31 00:00:00'),
 Timestamp('2023-06-01 00:00:00'),
 Timestamp('2023-06-02 00:00:00'),
 Timestamp('2023-06-03 00:00:00'),
 Timestamp('2023-06-05 00:00:00'),
 Timestamp('2023-06-06 00:00:00'),
 Timestamp('2023-06-07 00:00:00'),
 Timestamp('2023-06-08 00:00:00'),
 Timestamp('2023-06-09 00:00:00'),
 Timestamp('2023-06-10 00:00:00'),
 Timestamp('2023-06-12 00:00:00'),
 Timestamp('2023-06-13 00:00:00'),
 Timestamp('2023-06-14 00:00:00'),
 Timestamp('2023-06-15 00:00:00'),
 Timestamp('2023-06-16 00:00:00'),
 Timestamp('2023-06-20 00:00:00'),
 Timestamp('2023-06-21 00:00:00'),
 Timestamp('2023-06-22 00:00:00'),
 Timestamp('2023-06-23 00:00:00'),
 Timestamp('2023-06-26 00:00:00'),
 Timestamp('2023-06-27 00:00:00'),
 Timestamp('2023-06-28 00:00:00'),
 Timestamp('2023-06-29 00:00:00'),
 Timestamp('2023-06-30 00:00:00'),
 Timestamp('2023-07-03 00:00:00'),
 Timestamp('2023-07-05 00:00:00'),
 Timestamp('2023-07-06 00:00:00'),
 Timestamp('2023-07-07 00:00:00'),
 Timestamp('2023-07-10 00:00:00'),
 Timestamp('2023-07-11 00:00:00'),
 Timestamp('2023-07-12 00:00:00'),
 Timestamp('2023-07-13 00:00:00'),
 Timestamp('2023-07-14 00:00:00'),
 Timestamp('2023-07-17 00:00:00'),
 Timestamp('2023-07-18 00:00:00'),
 Timestamp('2023-07-19 00:00:00'),
 Timestamp('2023-07-20 00:00:00'),
 Timestamp('2023-07-21 00:00:00'),
 Timestamp('2023-07-24 00:00:00'),
 Timestamp('2023-07-25 00:00:00'),
 Timestamp('2023-07-26 00:00:00'),
 Timestamp('2023-07-27 00:00:00'),
 Timestamp('2023-07-28 00:00:00'),
 Timestamp('2023-07-29 00:00:00'),
 Timestamp('2023-07-31 00:00:00'),
 Timestamp('2023-08-01 00:00:00'),
 Timestamp('2023-08-02 00:00:00'),
 Timestamp('2023-08-03 00:00:00'),
 Timestamp('2023-08-04 00:00:00'),
 Timestamp('2023-08-07 00:00:00'),
 Timestamp('2023-08-08 00:00:00'),
 Timestamp('2023-08-09 00:00:00'),
 Timestamp('2023-08-10 00:00:00'),
 Timestamp('2023-08-11 00:00:00'),
 Timestamp('2023-08-14 00:00:00'),
 Timestamp('2023-08-15 00:00:00'),
 Timestamp('2023-08-16 00:00:00'),
 Timestamp('2023-08-17 00:00:00'),
 Timestamp('2023-08-18 00:00:00'),
 Timestamp('2023-08-21 00:00:00'),
 Timestamp('2023-08-22 00:00:00'),
 Timestamp('2023-08-23 00:00:00'),
 Timestamp('2023-08-24 00:00:00'),
 Timestamp('2023-08-25 00:00:00'),
 Timestamp('2023-08-28 00:00:00'),
 Timestamp('2023-08-29 00:00:00'),
 Timestamp('2023-08-30 00:00:00'),
 Timestamp('2023-08-31 00:00:00'),
 Timestamp('2023-09-01 00:00:00'),
 Timestamp('2023-09-05 00:00:00'),
 Timestamp('2023-09-06 00:00:00'),
 Timestamp('2023-09-07 00:00:00'),
 Timestamp('2023-09-08 00:00:00'),
 Timestamp('2023-09-11 00:00:00'),
 Timestamp('2023-09-12 00:00:00'),
 Timestamp('2023-09-13 00:00:00'),
 Timestamp('2023-09-14 00:00:00'),
 Timestamp('2023-09-15 00:00:00'),
 Timestamp('2023-09-16 00:00:00'),
 Timestamp('2023-09-18 00:00:00'),
 Timestamp('2023-09-19 00:00:00'),
 Timestamp('2023-09-20 00:00:00'),
 Timestamp('2023-09-21 00:00:00'),
 Timestamp('2023-09-22 00:00:00'),
 Timestamp('2023-09-25 00:00:00'),
 Timestamp('2023-09-26 00:00:00'),
 Timestamp('2023-09-27 00:00:00'),
 Timestamp('2023-09-28 00:00:00'),
 Timestamp('2023-09-29 00:00:00'),
 Timestamp('2023-10-01 00:00:00'),
 Timestamp('2023-10-02 00:00:00'),
 Timestamp('2023-10-03 00:00:00'),
 Timestamp('2023-10-04 00:00:00'),
 Timestamp('2023-10-05 00:00:00'),
 Timestamp('2023-10-06 00:00:00'),
 Timestamp('2023-10-09 00:00:00'),
 Timestamp('2023-10-10 00:00:00'),
 Timestamp('2023-10-11 00:00:00'),
 Timestamp('2023-10-12 00:00:00'),
 Timestamp('2023-10-13 00:00:00'),
 Timestamp('2023-10-16 00:00:00'),
 Timestamp('2023-10-17 00:00:00'),
 Timestamp('2023-10-18 00:00:00'),
 Timestamp('2023-10-19 00:00:00'),
 Timestamp('2023-10-20 00:00:00'),
 Timestamp('2023-10-23 00:00:00'),
 Timestamp('2023-10-24 00:00:00'),
 Timestamp('2023-10-25 00:00:00'),
 Timestamp('2023-10-26 00:00:00'),
 Timestamp('2023-10-27 00:00:00'),
 Timestamp('2023-10-30 00:00:00'),
 Timestamp('2023-10-31 00:00:00')]

To load the dataset and examine

In [93]:
# from datasets import load_from_disk
# dataset_dict2 = load_from_disk('NYdata_SP_datset')

In [94]:
# dataset_dict2

DatasetDict({
    train: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 392
    })
    validate: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 25
    })
    test: Dataset({
        features: ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'print_section', 'print_page', 'source', 'multimedia', 'headline', 'keywords', 'pub_date', 'document_type', 'news_desk', 'section_name', 'byline', 'type_of_material', '_id', 'word_count', 'uri', 'subsection_name', 'Open', 'High', 'Low', 'Close', 'Date'],
        num_rows: 33
    })
})